* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #23252c;
	font-family: Inter, sans-serif;
	color: #fff;
	height: 100vh;
}

.card {
	width: 550px;
	height: 868px;
	top: 53px;
	left: 65px;
	padding: 44px 117px 44px 116px;
	border-radius: 10px;
	background-color: #1a1b21;
}

.picture {
	width: 317px;
	height: 317px;
	top: 44px;
	left: 116px;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}

.name {
	font-family: Inter;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
}

.profession {
	padding: 8px;
	font-family: Inter;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: center;
	color: #f3bf99;
}

.website {
	text-align: center;
	padding: 9px;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	margin-top: 20px;
}

.buttons .email,
.buttons .linkedin {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 9px 28px;
	border-radius: 6px;
	border: 1px solid;
	cursor: pointer;
	margin-left: 17px;
}

.email {
	color: #374151;
	background-color: #ffffff;
	padding: 80px;
}

.linkedin {
	color: #ffffff;
	background-color: #297fe5;
}

.buttons .email::before {
	content: url('./images/Mail.png');
	width: 30px;
	height: 17px;
}

.buttons .linkedin::before {
	content: url('./images/linkedin.png');
	font-size: 10px;
	width: 20px;
	height: 17px;
}

.about {
	width: 243px;
	height: 21px;
	top: 535px;
	left: 152px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}
